apps/api/more0/workflows/process-webhook-event.json
{
  "name": "workflow.claims-manager.process-webhook-event",
  "display_name": "Process Webhook Event",
  "type": "workflow",
  "version": "1.0.0",
  "description": "Multi-step workflow that processes an inbound CW webhook event: resolves entity type, fetches from CW API, upserts external object, and projects to internal tables.",
  "tags": ["claims-manager", "webhook", "processing", "workflow"],
  "methods": {
    "execute": {
      "description": "Execute the webhook event processing workflow",
      "input": {
        "type": "object",
        "properties": {
          "eventId": { "type": "string", "description": "inbound_webhook_events row ID" },
          "tenantId": { "type": "string", "description": "Tenant scope" },
          "connectionId": { "type": "string", "description": "integration_connections row ID" },
          "eventType": { "type": "string", "description": "e.g. NEW_JOB, UPDATE_PURCHASE_ORDER" },
          "providerEntityId": { "type": "string", "description": "CW entity UUID" },
          "processingLogId": { "type": "string", "description": "external_processing_log row ID" }
        },
        "required": ["eventId", "tenantId", "connectionId", "eventType", "providerEntityId", "processingLogId"]
      },
      "semantics": "work",
      "channels": ["async"]
    }
  },
  "implementation": {
    "kind": "data",
    "execution": {
      "kind": "workflow-engine"
    }
  },
  "asl": {
    "StartAt": "resolve-entity-type",
    "States": {
      "resolve-entity-type": {
        "Type": "Pass",
        "Comment": "Map event type string to CW entity type",
        "Parameters": {
          "eventId.$": "$.eventId",
          "tenantId.$": "$.tenantId",
          "connectionId.$": "$.connectionId",
          "eventType.$": "$.eventType",
          "providerEntityId.$": "$.providerEntityId",
          "processingLogId.$": "$.processingLogId",
          "resolvedEntityType.$": "States.Format('{}', $.eventType)"
        },
        "Next": "fetch-external-entity"
      },
      "fetch-external-entity": {
        "Type": "Task",
        "Resource": "claims-manager.crunchwork-fetch",
        "Parameters": {
          "connectionId.$": "$.connectionId",
          "providerEntityType.$": "$.resolvedEntityType",
          "providerEntityId.$": "$.providerEntityId"
        },
        "ResultPath": "$.fetchResult",
        "Retry": [
          {
            "ErrorEquals": ["States.ALL"],
            "MaxAttempts": 3,
            "IntervalSeconds": 30,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "mark-failed"
          }
        ],
        "Next": "upsert-external-object"
      },
      "upsert-external-object": {
        "Type": "Task",
        "Resource": "claims-manager.external-object-upsert",
        "Parameters": {
          "tenantId.$": "$.tenantId",
          "connectionId.$": "$.connectionId",
          "providerCode": "crunchwork",
          "providerEntityType.$": "$.resolvedEntityType",
          "providerEntityId.$": "$.providerEntityId",
          "payload.$": "$.fetchResult.payload",
          "sourceEventId.$": "$.eventId"
        },
        "ResultPath": "$.upsertResult",
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "mark-failed"
          }
        ],
        "Next": "project-to-internal"
      },
      "project-to-internal": {
        "Type": "Task",
        "Resource": "claims-manager.entity-mapper",
        "Parameters": {
          "externalObjectId.$": "$.upsertResult.externalObject.id",
          "tenantId.$": "$.tenantId",
          "connectionId.$": "$.connectionId",
          "entityType.$": "$.resolvedEntityType"
        },
        "ResultPath": "$.mapResult",
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "mark-failed"
          }
        ],
        "Next": "mark-completed"
      },
      "mark-completed": {
        "Type": "Task",
        "Resource": "claims-manager.processing-log-update",
        "Parameters": {
          "processingLogId.$": "$.processingLogId",
          "status": "completed",
          "externalObjectId.$": "$.upsertResult.externalObject.id"
        },
        "End": true
      },
      "mark-failed": {
        "Type": "Task",
        "Resource": "claims-manager.processing-log-update",
        "Parameters": {
          "processingLogId.$": "$.processingLogId",
          "status": "failed",
          "errorMessage.$": "$.error.Cause"
        },
        "End": true
      }
    }
  }
}
